<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="name">
            Nom 
          </label>
          <input type="text"  class="form-control"  name="fname" ngModel required>
        </div>
        <div class="form-group">
            <label for="name">
              Prénom 
            </label>
            <input type="text"  class="form-control" name="lname" ngModel required>
          </div>
        <div class="form-group">
          <label for="status">
            Filière
          </label>
          <select  class="form-control" name="speciality" [ngModel]="defaultSpec" required>
            <option value="TI">Technologies Informatique</option>
            <option value="AA">Administration des affaires</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]='f.invalid'>Enregistrer</button>
      </form>
    </div>
  </div>